name: health-check-API
on:
  push:
    branches: 
      - main
      - feature/*
jobs:
  unit-testing:
    name: unit-testing
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
        
      - name: setup nodeJS version -18
        uses: actions/setup-node@v3
        with: 
          node-version: 18 

      - name: install dependencies  
        run: | 
          npm install
          ls -lrth  

      - name: unit testing
        run: npm test 

      - name: upload test result file
        uses: actions/upload-artifact@v5
        with:
           name: mocha-test-result
           path: test-result.xml 

