name: Simple backend

on: 
  workflow_dispatch:
  push:
    branches:
      - main
    
jobs:
    unit-testing:
        name: Unit Testing
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Repository
          uses: actions/checkout@v4

        - name: Setup NodeJS Version
          uses: actions/setup-node@v3
          with:
            node-version: 22
    
        - name: Install Dependencies
          run: npm install
    
        - name: Unit Testing
          run: npm test
          
        - name: Archive Test Result
          uses: actions/upload-artifact@v4
          with:
            name: Mocha-Test-Result
            path: test-results.xml
    docker-build-push:
      name: Build & Push Docker Image
      runs-on: ubuntu-latest
      needs: unit-testing  
      steps:
        - name: Checkout Repository
          uses: actions/checkout@v4
        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3
        - name: Build and Push Docker Image
          uses: docker/build-push-action@v5
          with:
            context: .
            push: true
            tags: |
              ${{ secrets.DOCKERHUB_USERNAME }}/simplebackend:latest
              ${{ secrets.DOCKERHUB_USERNAME }}/simplebackend:${{ github.sha }}            
    ecs-deploy:
      name: Deploy to ECS Fargate
      runs-on: ubuntu-latest
      needs:
        - terraform-apply
        - docker-build-push

      steps:
        - name: Configure AWS Credentials
          uses: aws-actions/configure-aws-credentials@v4
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{ env.AWS_REGION }}
        - name: Force new ECS Deployment
          run: |
            aws ecs update-service \
              --cluster "$ECS_CLUSTER_NAME" \
              --service "$ECS_SERVICE_NAME" \
              --force-new-deployment
